<!--The content below is only a placeholder and can be replaced.-->
<div class="chat-wrapper">
	<aside>
		<ul class="user-list">
            <li class="user">
                <img src="./assets/avatar.png" class="avatar" alt="avatar">
                <span>Andrey</span>
            </li>
            <li class="user">
                <img src="./assets/avatar.png" class="avatar" alt="avatar">
                <span>Denis</span>
            </li>
            <li class="user">
                <img src="./assets/avatar.png" class="avatar" alt="avatar">
                <span>Dima</span>
            </li>
            <li class="user">
                <img src="./assets/avatar.png" class="avatar" alt="avatar">
                <span>Yura</span>
            </li>
        </ul>
	</aside>
	<main>
        <div class="chat-header">
            <h1>{{ title }}</h1>
        </div>

		<div class="chat-area">
            <div class="chat-message">
                <div class="chat-message_author">
                    <img src="./assets/avatar.png" class="avatar" alt="avatar">
                    <span>Vasya</span>
                </div>
                <div class="chat-message_content">
                    qewrqrewqerwrqewqrewerwqrewrew
                    qrewrerewqrewqerwqerwewr
                    rqewqrewqrewrewrqewqerwqrew
                </div>
            </div>
            
            <div class="chat-message message-holder">
                <div class="chat-message_content">
                    qewrfsdfsdfsfdsdfsdfsrwqrewrew
                    qrewrerdfsgxvcbxcvcbvewr
                    rqewqrewqrewrewrqewqerwqrewxbcvcvxxbbbcvv123qweeeeeeeeeeeeee3ssssss
                </div>
            </div>

            <div class="chat-message">
                <div class="chat-message_author">
                    <img src="./assets/avatar.png" class="avatar" alt="avatar">
                    <span>Vasya</span>
                </div>
                <div class="chat-message_content">
                    qedfgdfet4353535wqrewerwqrewrewbxcvbbxdf
                    qrewrer3453453453gdgdfwewr
                    rqewqrewqrewrewrqdfgdfgxdfgdg
                </div>
            </div>
        </div>
		<div class="chat-message-send">
            <textarea name="message" class="chat-message-input_text"></textarea>
            <button type="submit" class="chat-message-send_send-button">Send</button>
        </div>
	</main>
</div>
